<!-- 
Filename: footer.js
Student: Vinny Mariam Vinu
StudentId: 301234317
Date: Jun 02, 2022 
-->

<footer>
    <h4
        style="position: fixed;left: 0%;bottom: 0%;width: 100%;background-color: grey;color: aliceblue;text-align: center; margin-bottom: 0%;">
        Copyright@Vinny Mariam Vinu, 2022.</h4>
</footer>

<!-- Scripts -->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
    var getTitle = "<%= title %>"
</script>
<script src="/javascripts/appclient.js"></script>
</body>

</html>