<!--About me Page-->
<!--Developed by Vinny Mariam Vinu
    Student id: 301234317
    COMP229 Lab Assignment 1
-->

<%- include partials/header -%>

    <div class="jumbotron jumbotron-fluid bg bg-secondary text-white" style="margin-top: 0%;">
        <div class="row">
            <div class="col">
                <h1 class="display-4" style="padding-left: 1%; padding-top: 3%;">
                    <%= userName %>
                </h1>
                <hr class="my-4">
                <h4 style="padding-left: 1%;">I'm Health Informatics Technology student at Centennial College, Toronto. 
                    I have completed Bachelors of Computer Applications from India in 2019 and I have worked as an Associate 
                    Analyst at Deloitte Consulting US India for 2.4 years. During my career at Deloitte, I have worked on multiple Oracle cloud
                     projects performing activities such as automation testing using bots and BIP report development. I have also worked on 
                    a Media project as a content reviewer. I love to be productive and learn new things. I have great communication 
                    skills and analytical skills. I am a quick learner and have the ability to work independently as well as in team.

                </h4>
                
                <p class="lead">
                    <a class="btn btn-secondary btn-lg" href="/images/resume.pdf" role="button">Get Resume</a>
                </p>

                <img style="float:right;width:300px;height: 300px; padding-right: 0%; border-radius: 50%; margin-right: 15%; margin-bottom: 3%;"
                    src="/images/IMG_Vinny.jpg" alt="logo" ">
            </div>

        </div>

    </div>





    <%- include partials/footer -%>