<%- include partials/header -%>

    <p>Welcome  <%= userName %></p>

    <div class="content">
        <span class="title">Hello, I’m Vinny Mariam Vinu</span>
        <h1>Student at <span>Centennial College Toronto</span></h1>
        <p>I’m a BCA graduate from India</p>

    </div>

<%- include partials/footer -%>    
