<!--Projects Page-->
<!--Developed by Vinny Mariam Vinu
    Student id: 301234317
    COMP229 Lab Assignment 1
-->

<%- include partials/header -%>

        <div class="Container bg bg-secondary">
            <div class="row" style="padding: 3%;">

                <div class="col">
                    <div class="card" style="width: 18rem; height: 29rem;">
                        <img class="card-img-top" src="/images/CentraCareHealth.jpg" alt="Card image cap" style="height: 15rem;">
                        <div class="card-body">
                            <h5 class="card-title">CentraCare Health Oracle Cloud Integration Project</h5>
                            <p class="card-text">Worked on various Oracle Financials Cloud - BI Publisher reports.
                                Developed and updated multiple conversion and non-conversion reports.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="width: 18rem;height: 29rem;">
                        <img class="card-img-top" src="/images/FedEx.jpg" alt="Card image cap" style="height:15rem ;">
                        <div class="card-body">
                            <h5 class="card-title">FedEx Novita LEES</h5>
                            <p class="card-text">Developed numerous BI publisher reports in Oracle Cloud. 
                                Performed automation testing using bots individually for multiple countries during 3 testing cycles.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="width: 18rem; height: 29rem;">
                        <img class="card-img-top" src="/images/Verizon.jpg" alt="Card image cap"
                            style="height:15rem ;">
                        <div class="card-body">
                            <h5 class="card-title">Verizon Media</h5>
                            <p class="card-text">Worked as an Ad-reviewer in Verizon Media project. Reviewed the contents of 2000+ ads per day 
                                using FALCON tool. Conducted trainings for new employees and reviewed their work.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>  

            <%- include partials/footer -%>