<%- include partials/header -%>



        <div class="Container bg bg-secondary">
            <div class="row" style="padding: 3%;">

                <div class="col">
                    <div class="card" style="width: 18rem; height: 29rem;">
                        <img class="card-img-top" src="/images/web.jpg" alt="Card image cap" style="height: 15rem;">
                        <div class="card-body">
                            <h5 class="card-title">Web Developer</h5>
                            <p class="card-text">Experienced in backend development using Express fraework.</p>
                            <a href="#" class="btn btn-primary" style="position: absolute; bottom:10px">Know more..</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="width: 18rem;height: 29rem;">
                        <img class="card-img-top" src="/images/mobile.jpg" alt="Card image cap" style="height:15rem ;">
                        <div class="card-body">
                            <h5 class="card-title">Mobile App Developer</h5>
                            <p class="card-text">Experienced in android app development using Android studio</p>
                            <a href="#" class="btn btn-primary" style="position: absolute; bottom:10px">Know more..</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="width: 18rem; height: 29rem;">
                        <img class="card-img-top" src="/images/database.jpg" alt="Card image cap"
                            style="height:15rem ;">
                        <div class="card-body">
                            <h5 class="card-title">Database Developer</h5>
                            <p class="card-text">Experienced in database development using Oracle and Mongodb</p>
                            <a href="#" class="btn btn-primary " style="position: absolute; bottom:10px">Know more..</a>


                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="width: 18rem;height: 29rem;">
                        <img class="card-img-top" src="/images/automation.jpeg" alt="Card image cap"
                            style="height:15rem ;">
                        <div class="card-body">
                            <h5 class="card-title">Automation Tester</h5>
                            <p class="card-text">Experienced in Automation testing using BOTS</p>
                            <a href="#" class="btn btn-primary" style="position: absolute; bottom:10px">Know more..</a>
                        </div>
                    </div>
                </div>

            </div>




        </div>

        

            <%- include partials/footer -%>