<!--Services Page-->
<!--Developed by Vinny Mariam Vinu
    Student id: 301234317
    COMP229 Lab Assignment 1
-->


<%- include partials/header -%>

    <div class="Container bg bg-secondary">
        <div class="row" style="padding: 3%;">

            <div class="col" >
                <div class="card" style="width: 18rem; height: 29rem;">
                    <img class="card-img-top" src="/images/web.jpg" alt="Card image cap" style="height: 15rem;">
                    <div class="card-body">
                        <h5 class="card-title">Web Developer</h5>
                        <p class="card-text">Experienced in web development using HTML, CSS, Express, Javascript etc.</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;height: 29rem;">
                    <img class="card-img-top" src="/images/programming.jpg" alt="Card image cap" style="height:15rem ;">
                    <div class="card-body">
                        <h5 class="card-title">General Programming</h5>
                        <p class="card-text">Experienced in programming languages like Java, 
                            C, C++, C#, Python, COBOL, SQL, PL/SQL, .NET, Oracle</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem; height: 29rem;">
                    <img class="card-img-top" src="/images/database.jpg" alt="Card image cap" style="height:15rem ;">
                    <div class="card-body">
                        <h5 class="card-title">Database Developer</h5>
                        <p class="card-text">Experienced in database development using Oracle, SQL and Mongodb</p>                       
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;height: 29rem;">
                    <img class="card-img-top" src="/images/automation.jpeg" alt="Card image cap" style="height:15rem ;">
                    <div class="card-body">
                        <h5 class="card-title">Automation Tester</h5>
                        <p class="card-text">Experienced in Automation testing using BOTS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include partials/footer -%>