/* 
Filename: style.css
Student: Vinny Mariam Vinu
StudentId: 301234317
Date: Jun 02, 2022 
*/


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

